<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Books</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/design.css' %}">
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Welcome, {{ user.first_name }}!</h1>
            <a href="/logout">Log Out</a>
        </header>
        <div id="content">
            <div class="edit">
                {% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}
                <form action="/books/{{ book.id }}/update" method="POST">
                    {% csrf_token %}
                    <h2><input id="update" type="text" name="title" value="{{ book.title }}"></h2>
                    <p>Added by: {{ book.uploaded_by.first_name }} {{ book.uploaded_by.last_name }}</p>
                    <p>Added on: {{ book.created_at }}</p>
                    <p>Last updated on: {{ book.updated_at }}</p>
                    <label for="description">Description</label></br>
                    <textarea name="description" id="" cols="10" rows="5"></textarea></br>
                    <input class="change" type="submit" value="Update">
                </form>
                <form action="/books/{{ book.id }}/delete" method="POST">
                {% csrf_token %}
                    <input class ="change" type="submit" value="Delete">  
                </form>
            </div>
            <div class="edit">
                <h2>Users Who Like This Book:</h2>
                <ul>
                    {% for liker in users_who_like %}
                        <li>{{ liker.first_name }} {{ liker.last_name }}
                            {% if user == liker %}
                            <a href="/books/unfavorite/{{ book.id }}">Un-Favorite</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
            </div>
        </div>
    </div>
</body>
</html>